:root {
	--primary-color: #000;
	--secondary-color: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    font-family: "Roboto", "Poppins";
    cursor: pointer;
}

.body {
	color: var(--primary-color);
	background-color: #fff;
	font-family: "Roboto", "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
}

.container {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.title-2xl {
	font-size: 230px;
	font-weight: 700;
	line-height: 0.9; 
}

.title-xl {
	font-size: 140px;
	font-weight: 700;
	line-height: 1.1;
}

.title-h1 {
	font-size: 64px;
	font-weight: 700;
	line-height: 1.1;
}

.title-h2 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2;
}

.title-h3 {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.3;
}

.title-h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
}

.title-h5 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
}

.text-m {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 30px 0;
}

.header__content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    width: 92px;
    height: 32px;
    margin-bottom: 40px;
    fill: currentColor;
    color: var(--primary-color);
}

.nav__list {
    display: flex;
    gap: 20px;
    background-color: var(--primary-color);
    border-radius: 50px;

}

.nav__item  {
    padding: 5px;
    list-style: none;
}

.nav__link {
    display: flex;
    border-radius: 50px;
    padding: 11px;
    color: #C4C4C4;
}

.nav__link_active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav__count {
    display: flex;
    width: 20px;
    height: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3px 5px 0 0;
    color: var(--primary-color);
    background-color: #C4C4C4;
    border-radius: 10px;
    font-size: 12px;
}

.nav__link_active .nav__count {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.intro {
    padding: 20px 0 75px;
}

.intro__title {
    margin-bottom: 70px;
}

.intro__info {
    display: flex;
    justify-content: space-between;
}

.intro__email-title {
	margin-bottom: 10px;
}

.intro__description {
	max-width: 470px;
}

.scroll__button {
	width: 230px;
	height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
	background-color: #F9F9F9;
	border: none;
    border-radius: 145px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}

.arrow-icon {
    width: 13px;
    height: 15px;
    stroke: currentColor;
}

.arrow-icon_top {
    margin-bottom: 2px;
    margin-left: 6px;
    color: var(--primary-color);
}

.arrow-icon_right {
    margin-left: 4px;
    transform: rotate(270deg);
    color: var(--primary-color);
}

.arrow-icon_top-right {
    margin-left: 6px;
    transform: rotate(225deg);
    color: var(--secondary-color);
}

.projects {
	padding: 75px 0;
}

.projects__text {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.projects__info {
    max-width: 390px;
}

.projects__title {
	margin-bottom: 10px;
}

.projects__button {
	background-color: var(--secondary-color);
	border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
}

.projects__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.projects__card {
    width: calc(50% - 20px);
}

.projects__card-img {
    margin-bottom: 10px;
}

.expertise {
    padding-top: 75px;
}

.expertise__title {
    margin-bottom: 50px;
}

.expertise__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.expertise__item {
    position: relative;
    max-width: 455px;
    width: calc(50% - 10px);
    padding-left: 10px;
    margin-bottom: 75px;
}

.expertise__item::before {
    content: "•";
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}

.expertise__item-title{
    margin-bottom: 20px;
}

.ticker__wrap {
    width: 100%;
    background-color: var(--primary-color);
    overflow: hidden;
}

.ticker__title {
    display: inline-block;
    padding: 50px 0;
    color: var(--secondary-color);
    white-space: nowrap;
    animation: ticker 10s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform:  translateX(-100%);
    }
}

.testimonials {
    padding: 100px 0;
}

.testimonials__quote {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.testimonials__title {
    margin-bottom: 50px;
}

.testimonials__quote-text {
    max-width: 950px;
    font-size: 48px;
	line-height: 1.2;
}

.footer {
    padding: 50px 0;
}

.footer__action {
    padding-bottom: 150px;
    text-align: center;
}

.footer__title {
    margin-bottom: 50px;
}

.footer__email-link {
    display: inline-block;
    padding: 30px 50px;
    border: none;
    border-radius: 145px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    gap: 40px;
}